.home {
  display: flex;

  .homeContainer {
    background-color: #eee;
    flex: 6;

    .widgets,
    .charts {
      display: flex;
      padding: 2rem;
      gap: 2rem;
    }

    .charts {
      padding: 0.4rem 2rem;
    }

    .listContainer {
      background-color: white;
      -webkit-box-shadow: 0.2rem 0.4rem 0.8rem 0.08rem black;
      box-shadow: 0.2rem 0.4rem 0.8rem 0.08rem lightgray;
      padding: 2rem;
      margin: 2rem;
      border-radius: 0.8rem;

      .listTitle{
        color: #955b36;
        font-weight: bold;
        margin-bottom: 1.6rem;
      }
    }
  }
}
