.chart {
  flex: 4;
  background-color: white;
  -webkit-box-shadow: 0.2rem 0.4rem 0.8rem 0.08rem black;
  box-shadow: 0.2rem 0.4rem 0.8rem 0.08rem lightgray;
  padding: 1.2rem;
  border-radius: 0.8rem;

  .title {
    color: #955b36;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .chartGrid {
    stroke: #ddd;
  }
}
