* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include mq($desktop) {
    font-size: 55%;
  }

  @include mq($laptop) {
    font-size: 50%;
  }
  letter-spacing: normal;
}
body {
  font-size: 1.6rem;
  letter-spacing: normal;
}
