@import './mixins';
@import './variables';
@import './base.scss';

@import './utils';

.content-box__container {
  display: flex;
  width: 100%;
  align-items: center;
  & > * {
    margin: 8px;
  }
  @include mq($mobile) {
    flex-direction: column;
  }
}

.content-box__header-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: normal;
  color: #707070;
  margin-left: 1.2rem;
}

.content-box__button-header--container {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  font-size: 1.6rem;
  flex-wrap: wrap;
}

.content-box__seach {
  height: 50px;
  width: 100%;
  position: relative;
  border-radius: 7px;
  margin-right: 16px;
}

.grid-box-custom {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  &:after {
    content: '';
    flex: auto;
  }
}
// .grid-box-custom::after {
//   content: '';
//   flex: auto;
// }

@media all and (min-width: 1280px) and (max-width: 1920px) {
  .content {
    margin-top: 15px;
  }
  p {
    font-size: 15px;
  }
}

// cho những item k cần after để fluid
.class-align-item-justify {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
}

.class-align-last-row {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;

  padding: 0 2rem;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  &:after {
    content: '';
    flex: auto;
    // background: cyan;
  }
}
// .class-align-last-row::after {
//   content: ' ';
//   flex: auto;
// }

.class-align-last-row-custom {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: space-between;
}
.class-align-last-row-custom::after {
  content: '';
  width: 30%;
}
